:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: #2e2f42;
  --hero-background-color: #2e2f42;
  --white-background-color: #ffffff;
  --modal-background-color: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--white-background-color);
}



h1 {
  margin-bottom: 48px;
  max-width: 496px;
}

.header-one {
  color: var(--white-background-color);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  display: block;
  margin: 0 auto;
  max-width: 496px;
  padding-bottom: 48px;
}

.header-three {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.description {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-two {
  color: var(--modal-overlay-color);
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.background-cloud {
  background-color: var(--light-color);
}

.list {
  list-style: none;
}
.link {
  color: var(--dark-color);
  text-decoration: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
  text-decoration: none;
  margin-right: 76px;
}

.logo-studio {
  color: var(--dark-color);
}

.link:hover,
.link:focus {
  color: var(--pressed-state-color);
}

.link-nav {
  color: var(--dark-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-address {
  color: var(--text-color)
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
}

.filter-button-main {
  color: var(--white-background-color);
  background-color: var(--primary-brand-color);
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button {
  color: var(--primary-brand-color);
  background-color: var(--light-color);
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px var(--accent-color) solid;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button-main:hover,
.filter-button-main:focus {
  background-color: var(--pressed-state-color);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-background-color);
  background-color: var(--pressed-state-color);
  border: 1px solid transparent;
}

.portfolio-shadow {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-shadow:hover,
.portfolio-shadow:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.address {
  font-style: normal;
  margin-left: 332px;
  padding: 24px 0;
}

.footer {
  color: var(--light-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.background-footer {
  background-color: var(--dark-color);
  padding: 100px 0;
}

.logo-studio-footer {
  color: var(--light-color);
}

.link-footer {
display: inline-block;
margin-bottom: 16px;
}

.background-li {
  background-color: var(--white-background-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-block: 120px;
}

.section-doing {
  padding-top: 0;
}

.background {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
  max-width: 1440px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
}

.header {
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-header {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 15px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.flex-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.flex-nav-li {
  display: inline-block; 
  flex-basis: calc(100% - 80px) / 3;
  padding: 24px 0;
}

.flex-address-li {
  flex-basis: calc(100% - 40px) / 2;
}

.button-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.button-flex-li {
  flex-basis: calc(100% - 96px) / 4;
}

.filter-button:hover,
.filter-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-portfolio {
  padding-top: 96px; padding-bottom: 120px;
}

.portfolio-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-flex-li {
  flex-basis: calc(100% - 48px) / 3;
}

.portfolio-img {
  padding: 32px 16px;
  border-right: 1px var(--accent-color) solid;
  border-bottom: 1px var(--accent-color) solid;
  border-left: 1px var(--accent-color) solid;
}

.our-values-flex {
  display: flex;
  gap: 24px;
}

.our-values-flex-li {
  flex-basis: calc((100% - 72px) / 4);
}

.doing-flex-li {
  flex-basis: calc(100% - 48px) / 2;
}

.team-flex-li {
  flex-basis: calc(100% - 72px) / 4;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.customers-flex-li {
  flex-basis: calc(100% - 120px) / 6;
  height: 88px;
}

.social-media-team-flex {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 8px;
}

.social-media-team-flex-li {
  flex-basis: calc(100% - 72px) / 4;
}

.social-media-svg {
  fill: var(--light-color);
}

.team-text {
  padding: 32px 0px;
  text-align: center;
}

.values-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--light-color);
  border-radius: 4px;
  margin-bottom: 8px;
}

.link-social-media {
  width: 40px;
  height: 40px;
  background-color: var(--primary-brand-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social-media:hover,
.link-social-media:focus {
  background-color: var(--pressed-state-color);
}

.link-customers {
  width: 168px;
  height: 88px;
  border: 1px var(--subtle-text-color) solid;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--subtle-text-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-customers:hover,
.link-customers:focus {
  border-color: var(--pressed-state-color);
  color: var(--pressed-state-color);
}

.customers-icon {
  fill: currentColor;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.footer-logo-p {
  margin-right: 120px;
}

.footer-social-media {
  margin-right: 80px;
}

.button-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  color: var(--white-background-color);
  background-color: var(--primary-brand-color);
  border: none;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-footer:hover,
.button-footer:focus {
  background-color: var(--pressed-state-color);
}

.frame-svg {
  fill: currentColor;
  margin-left: 16px;
}

.footer-newsletter {
  display: block;
}

.social-media-footer{
  display: block;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background-color);
}

.list-footer-flex {
  display: flex;
  gap: 16px;
}

.list-footer-flex-li {
  flex-basis: calc(100% - 48px) / 4;
  height: 40px;
  width: 40px;
}

.footer-form-flex {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 24px;
}

.footer-form-flex-li {
  flex-basis: calc(100% - 24px) / 2;
}

.email-footer {
  display: flex;
  width: 264px;
  height: 40px;
  gap: 24px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.5; 
  letter-spacing: 0.04em;
  color: var(--white-background-color);
  border-radius: 4px;
  outline: transparent;
  border: 1px solid var(--white-background-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
}

.email-footer::placeholder {
  color: var(--white-background-color);
}


.footer-social-media-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-media-link:hover,
.footer-social-media-link:focus {
  background-color: var(--success-color);
}

.modal-p {
  color: var(--dark-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.form-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-contacts-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 8px;
}

.form-contacts-div:nth-of-type(4) {
  margin-bottom: 16px;
}

.contacts-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text-color);
}

.contacts-box {
  position: relative;
  display: flex;
  align-items: center;
}

.contacts-input {
  width: 100%;
  height: 40px;
  padding-left: 38px; 
  color: var(--dark-color);
  background-color: transparent; 
  border: 1px solid rgba(46, 47, 66, 0.4); 
  border-radius: 4px; 
  outline: transparent; 
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.contacts-input:hover,
.contacts-input:focus,
.contacts-input:active {
  border-color: var(--primary-brand-color);
}

.svg-contacts {
  position: absolute;
  left: 16px;
  top: 50%;
  width: 18px;
  height: 24px;
  fill: var(--dark-color);
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-input:hover + .svg-contacts,
.contacts-input:focus + .svg-contacts,
.contacts-input:active + .svg-contacts {
    fill: var(--primary-brand-color);
}

.contacts-textarea {
  height: 120px;
  resize: none;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent; 
  border: 1px solid rgba(46, 47, 66, 0.4); 
  border-radius: 4px; 
  outline: transparent; 
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-textarea:hover,
.contacts-textarea:focus,
.contacts-textarea:active {
    border-color: var(--primary-brand-color);
}
.contacts-textarea::placeholder {
    color: rgba(46, 47, 66, 0.40);
}

.contancts-agreed {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
}

.contacts-privacy:checked + .contacts-label span {
  background-color: var(--pressed-state-color);
  border: none;
  fill: var(--light-color);
}

.check-privacy {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  transition-property: background-color, border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-privacy {
  
}

.link-privacy {
  color: var(--primary-brand-color);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.40);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
opacity: 0;
visibility: hidden;
pointer-events: none;
}

.modal-windows {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) scale(1);
width: 408px;
min-height: 584px;
padding: 72px 24px 24px 24px;
background: var(--modal-background-color);
box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
border-radius: 4px;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-windows-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.10);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-windows-close:hover,
.modal-windows-close:focus {
  background-color: var(--pressed-state-color);
  border: none;
  fill: var(--white-background-color);
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-active,
.portfolio-active {
  position: relative;
  color: var(--pressed-state-color);
}

.studio-active::after,
.portfolio-active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--pressed-state-color);
}

.box {
  position: relative;
  overflow: hidden;
}

.box-p {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
  padding: 40px 32px;
  background-color: var(--primary-brand-color);
  height: 100%;
  width: 100%;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-shadow:hover .box-p,
.portfolio-shadow:focus .box-p {
  transform: translateY(0%);
}

img {
    display: block;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}